body {
    font-family: "Overpass";
    background-color: #f4eeff;
    /* background-color: #FFE3EA; */
    padding: 16px 32px;
}

.japanese-font {
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
    background-color: #f4eeff;
    /* background-color: #FFE3EA; */
}

.navbar-brand {
    color: #a6b1e1;
}

.navbar-brand:hover {
    color: #424874;
}

.navbar-question {
    color: #a6b1e1;
}

.navbar-question:hover {
    color: #424874;
}

.tanka-card, .poem-option {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.poem-option {
    padding-left: 1%;
}

.card-header {
    padding: 0;
}

.card-footer, .card-header {
    color: #a6b1e1;
    /* color: #9BDEAC; */
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 1%;
    font-style: italic;
}

.card-header {
    font-size: 0.80rem;
    margin-right: 10px;
    padding: 12px 0 12apx 0;
}

.japanese-text {
    font-size: 1.5rem;
}

.tanka-hr {
    margin: 0.5rem;
}

.tanka-btn {
    color: #a6b1e1;
    padding-left: 10px;
    margin-bottom: 0;
}

.tanka-btn:hover {
    text-decoration: none;
    color: #424874;
}

.option-botton-text:hover {
    padding-bottom: 10px;
}

.card-text {
    color: #424874;
    /* color: #A00036; */
    margin: 0%;
}

.tanka {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 5px 5px rgba(66, 72, 116, 0.4),
        10px 10px rgba(66, 72, 116, 0.3),
        15px 15px rgba(66, 72, 116, 0.2),
        20px 20px rgba(66, 72, 116, 0.1),
        25px 25px rgba(66, 72, 116, 0.05);
    /* box-shadow: 5px 5px rgba(249, 130, 152, 0.4),
        10px 10px rgba(249, 130, 152, 0.3),
        15px 15px rgba(249, 130, 152, 0.2),
        20px 20px rgba(249, 130, 152, 0.1),
        25px 25px rgba(249, 130, 152, 0.05); */
}

.petals {
    position: absolute;
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
    width: 2.5%;
    z-index: -1;
}
