body {
    font-family: "Overpass";
    background-color: #f4eeff;
}

.navbar {
    background-color: #f4eeff;
}

.navbar-brand {
    color: #a6b1e1;
}

.tanka-card, .card-header, .poem-option {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.poem-option {
    padding-left: 0;
}

.card-header {
    padding: 0;
}

.card-footer {
    color: #424874;
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-right: 5%;
}

.japanese-text {
    margin-bottom: 1%;
    font-size: 1.5rem;
}

.tanka-btn {
    border: none;
    padding-left: 10px;
}

.option-button-text {
    color: #a6b1e1;
    margin-bottom: 0;
}

.option-botton-text:hover {
    padding-bottom: 10px;
}

.card-text {
    color: #424874;
    margin: 0%;
}

.middle {
  position: relative;
}

.tanka {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
